<!-- Login page - form for creating a new session -->

<div class="content-item">
	<%= render 'static/form_errors' %>

	<h1>Log in to your account</h1>

	<%= form_tag do %>

	<%= label_tag :email %>
	<%= text_field_tag :email %>

	<%= label_tag :password %>
	<%= password_field_tag :password %>

	<p>Remember Me  <%= check_box_tag :forget_me_not %></p>

	<%= submit_tag "Log In", {:class => "button radius success"} %>

	<% end %>
</div>
