<!-- Registration page - form for creating a new user -->

<div class="content-item">
	<%= render 'static/form_errors' %>

	<h1>Create an Account</h1>

	<%= form_for :user,url: '/users/create' do |f| %>

    	<%= f.label :first_name %><br>
    	<%= f.text_field :first_name, {:value => params[:first_name]} %>
 
    	<%= f.label :last_name %><br>
    	<%= f.text_field :last_name, {:value => params[:last_name]} %>

    	<%= f.label "Email Address" %><br>
    	<%= f.text_field :email %>
 
    	<%= f.label :password %><br>
    	<%= f.password_field :password %>

    	<%= f.label :confirm_password %><br>
    	<%= f.password_field :confirm_password %>

    	<%= f.submit "Create Account", :class => "button radius success" %>
	<% end %>
</div>
