<!-- Site header -->
<div class="row">
	<div class="site-logo large-2 columns">
		<img src="<%= image_url('du_logo.png') %>" alt="University of Denver Logo" />
	</div>
	<div class="large-10 columns">
		<div class="site-title large-4 columns">
			<h3><%= link_to 'ZINFANDEL', root_path %></h3>
			<p>Teaching Strategy Database</p>
		</div>
		<div class="large-4 columns clearfix">
			<div class="user-box">
				<% if current_user %>
					<%= render 'users/current_user' %>
					<p><small><%= link_to "Log Out", logout_path, :class => "link" %></small></p>
				<% else %>
					<p><strong><%= link_to "Sign up now!", users_new_path, :class => "link" %></strong></p>
					<p><small><%= link_to "Log In", login_path, :class => "link" %></small></p>
				<% end %>
			</div>
		</div>
	</div> 
</div>
