<!-- Home page view - searching and all that -->

<div class="content-item">
	<h1>Search Strategies</h1>
		<%= form_tag({controller:"strategies",action:"search"}, method:"get", class:"searchForm") do %>

		<%= label_tag("Department (shift-click to select, ctrl-click to deselect)") %>
		<%= select_tag(:department, options_for_select([["Any", nil]] + @departmentList)) %>

		<%= label_tag("Subject (shift-click to select, ctrl-click to deselect)" ) %>
		<%= select_tag(:subject, options_for_select([["Any", nil]] + @subjectList)) %>

		<%= label_tag(:keywords, "Keywords (comma- or space-separated)") %>
		<%= text_field_tag(:keywords) %>

		<%= label_tag(:title) %>
		<%= text_field_tag(:title) %>

		<%= label_tag(:author) %>
		<%= text_field_tag(:author) %>

		<%= submit_tag('Search', {:class => "button radius success"}) %>
		<%= button_tag('Reset Form', {type: 'reset', :class => "button radius small"}) %>
	<% end %>
	

	<% if current_user %>
		<%= link_to 'share a strategy of your own', :controller => 'strategies', :action =>'new' %>
	<% end %>
</div>
