<!-- show the record to update it -->

<div class="content-item">

<h1>Update Strategy</h1>

<%= form_for :strategy, url: strategy_update_path(@strategy), method: :patch do |f| %>
<%= render 'static/form_errors' %>

<%= f.label :title %><br>
<%= f.text_field :title %>

<%= f.label :body %><br>
<%= f.text_area :body %>

<%= label_tag :department %>
<%= select_tag :department, options_for_select(@departmentList, @departmentId) %>

<%= label_tag :subject %>
<%= select_tag :subject, options_for_select(@subjectList, @subjectId) %>

<%= f.label :technology %><br>
<%= f.text_area :tech %>

<%= f.label :source %><br>
<%= f.text_area :source %>

<%= f.submit "Save Changes", :class => "button radius success" %>
<% end %>

</div>
