<!-- show the record to update it -->

<div class="content-item">
<h1>Update Strategy</h1>

<%= form_for :strategy, url: strategy_update_path(@strategy), method: :patch do |f| %>
<%= render 'static/form_errors' %>

<p>
<%= f.label :title %><br>
<%= f.text_field :title %>
</p>

<p>
<%= f.label :body %><br>
<%= f.text_area :body %>
</p>

<p>
<%= f.label :technology %><br>
<%= f.text_area :tech %>
</p>

<p>
<%= f.label :source %><br>
<%= f.text_area :source %>
</p>

<%= label_tag :keywords, "Keywords (comma- or space-separated)" %><br>
<%= text_field_tag :keywords , @strategy.keywords.map { |k| k.keyword }.join(', ')  %>


<p>
<%= f.submit "Save Changes", :class => "button radius success" %>
</p>
<% end %>

</div>
