<!-- Insertion page - form for creating a new strategy -->
<div class="content-item">
<h1>Create a New Teaching Strategy</h1>
<%= form_for :strategy,url: '/create' do |f| %>
  <%= render 'static/form_errors' %>
  <!--Display form-->

    <%= f.label :title %><br>
    <%= f.text_field :title %>

    <%= f.label :tech %><br>
    <%= f.text_field :tech %>

	<%= f.label :source %>
	<%= f.text_field :source %>

		<%= label_tag :keywords, "Keywords (comma- or space-separated)" %><br>
		<%= text_field_tag :keywords, params[:keywords] %>

	<!-- Department and subject would go here -->
		<%= label_tag :department %><br>
		<%= select_tag :department, options_for_select(@departmentList, params[:department]) %>

		<%= label_tag :subject %><br>
		<%= select_tag :subject, options_for_select(@subjectList, params[:subject]) %>

    <%= f.label "Strategy Description" %><br>
    <%= f.text_area :body %>

    <%= f.submit "Submit Strategy", :class => "button radius success" %>
<% end %>
</div>
