<!-- Search result page - list results of search -->


<% @currentPage.each do |strategy| %>
	<p></p>
	<% title = "Title: " %>
	<% title += strategy.title %>
	<%= link_to title, {:controller => "strategies" , :action => "show" ,:id => strategy.id}  %>


	<%= strategy.tech %>
	<%= strategy.source %>
	<%= link_to "Update", :controller => 'strategies', :action =>'edit', id: strategy.id %>
	<%= link_to "Destroy", strategy_delete_path(strategy), method: "delete", id: strategy.id,  data: { confirm: 'Are you sure?' } %>

	<%= label_tag(:author,"Author :" + strategy.user.name)  %>
	<%= label_tag(:keywords, "Keywords :" + strategy.keywords )  %>

	<p><%= puts strategy.inspect %></p>

<%end%>


<p></p>


#<%f.label "Numbers of results shown"%>
#<%= f.select :entry_number, options_for_select([["10", "30", "50"]], @link.strategies %>

#<%= will_paginate @strategy %>


<p></p>
<%= link_to_if @page.to_i>1 , 'Previous Page', {:controller => "strategies" , :action => "search" , :department=> @dep, :subject => @sub, :keywords => @kwd, :title => @tit, :author => @aut, :page => (@page.to_i-1)} %>

<%= link_to_if @notLastPage , 'Next Page', {:controller => "strategies" , :action => "search" , :department=> @dep, :subject => @sub, :keywords => @kwd, :title => @tit, :author => @aut, :page => (@page.to_i+1)} %>

<p></p>
<%= link_to 'HomePage', root_path %>
