<!-- Search result page - list results of search -->
<div class="content-item">
	<div class="row">
	<div class="large-10 columns">
		<%= render 'strategies/search_nav' %>
	</div>
	<div class="large-2 columns">
		<%= form_tag({:controller => "strategies", :action => "search"}, {:method => "get"}) do %>
			<%= label_tag :entry_number, "Entries per page", :class => "hide" %>
			<%= select_tag :entry_number, options_for_select([["10", 10], ["11", 11], ["20", 20], ["30", 30], ["40", 40], ["50", 50], ["100", 100]], cookies[:page_entries]) %>
 			<%= hidden_field_tag :department, @dep %>
			<%= hidden_field_tag :subject, @sub %>
			<%= hidden_field_tag :keywords, @kwd %>
			<%= hidden_field_tag :title, @tit %>
			<%= hidden_field_tag :author, @aut %>
			<%= hidden_field_tag :page, 1 %>
			<%= submit_tag "Change number of entries per page" %>
		<% end %>
	</div>
	</div>
</div>
<% if @page=='1' && @currentPage.size==0  %>
	<div class="content-item">
		<h1>No strategies were found</h1>
		<p>Suggestions:</p>
		<ul>
			<li>Make sure all words are spelled correctly.</li>
			<li>Try different keywords.</li>
			<li>Try fewer keywords.</li>
		</ul>
	</div>
<% else %>
<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
	<% @currentPage.each do |strategy| %>
	<li>
		<div class="content-item">
			<div class="row">
				<div class="large-10 columns">
					<h1><%= link_to strategy.title, {:controller => "strategies" , :action => "show" ,:id => strategy.id}, {:class => "strategy-title"}  %></h1>
					<p><small>Author: <span class="author-name"><%= strategy.user.name %></span></small></p>
				</div>
				<div class="large-2 columns clearfix">
					<% if current_user && (current_user.is_author?(strategy) || current_user.is_admin?) %>
						<%= link_to "Update", {:controller => 'strategies', :action =>'edit', id: strategy.id}, {:class => "button round small"} %><br />
						<%= link_to "Destroy", strategy_delete_path(strategy, :department=> @dep, :subject => @sub, :keywords => @kwd, :title => @tit, :author => @aut, :page => (@page.to_i+1)), :method => :delete, data: { confirm: 'Are you sure?' }, :class => "button round small alert" %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<p><%= strategy.body[0, 150] + (strategy.body.length > 150 ? "..." : "") %>
					<p><%= label_tag(:keywords, "Keywords: " + strategy.keywords.map { |k| k.keyword }.join(', ') )  %></p>
				</div>
			</div>
		</div>
	</li>
	<% end %>
</ul>
<% end %>
<div class="content-item">
	<div class="row">
	<div class="large-10 columns">
		<%= render 'strategies/search_nav' %>
	</div>
	<div class="large-2 columns">
		<%= link_to 'Home Page', root_path, :class => "button radius small" %>
	</div>
</div>
