<!-- Search result page - list results of search -->
<p>  All Strategies  </p>

<table>
<tr>
<th>Title</th>
<th>body</th>
<th>Technology</th>
<th>Source</th>
</tr>

<% @strategies.each do |strategy| %>
<tr>
<td><%= strategy.title %></td>
<td><%= strategy.body %></td>
<td><%= strategy.tech %></td>
<td><%= strategy.source %></td>
<td> <%= link_to "Update", controller: "strategies", action: "show", id: @strategies %> </td>
<td> <%= link_to 'Destroy', controller: "strategies", method: "delete", id: @strategies,  data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
